#content {
    text-align: center;
}

body,html {
    background-color: #272727;
    color:white;
    font-family: 'Oswald', sans-serif;
    padding:0;
    margin:0;
    height: 100%;
    width: 100%;
}
label{
    font-size: 30px;
}
h1{
    font-size: 40px;
    font-weight: bold;
}
img{
    height: 600px;
}
input{
    margin-top: 10px;
    margin-bottom: 10px;
    border:none;
    border-radius: 4px;
    width: 300px;
    height: 30px;
    font-size: 17px;
}
button{
    margin-top: 10px;
    width: 100px;
    height: 40px;
    border:none;
    border-radius: 2px;
    background-color:rgb(230, 149, 0);
    color:white;
    transition: background-color 0.2s;
}
button:hover{
    background-color: rgb(179, 116, 0);;
}
button:active{
    background-color: rgb(133, 86, 1);;
}