#content {
    text-align: center;
}

body,html {
    background-color: #272727;
    color:white;
    font-family: 'Oswald', sans-serif;
    padding:0;
    margin:0;
    height: 100%;
    width: 100%;
}
label{
    font-size: 30px;
}
h1{
    font-size: 40px;
    font-weight: bold;
}
img{
    margin-top:10px;
    height: 600px;
}
input{
    margin-top: 10px;
    margin-bottom: 10px;
    border:none;
    border-radius: 4px;
    width: 300px;
    height: 30px;
    font-size: 17px;
}
button{
    font-size: 20px;
    margin-top: 10px;
    width: 150px;
    height: 40px;
    border:none;
    border-radius: 2px;
    background-color:rgb(230, 149, 0);
    color:white;
    transition: background-color 0.2s;
}
button:hover{
    background-color: rgb(179, 116, 0);;
}
button:active{
    background-color: rgb(133, 86, 1);;
}
.disabled{
    width: 100px;
    height: 50px;
    background-color: rgb(185, 31, 31);
}
.disabled:hover{
    background-color: rgb(134, 0, 0);
}
.disabled:active{
    background-color: rgb(78, 0, 0);
}

.enabled{
    width: 100px;
    height: 50px;
    background-color: rgb(0, 175, 29);
}
.enabled:hover{
    background-color:rgb(0, 126, 21);
}
.enabled:active{
    background-color: rgb(0, 85, 14);
}